<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604489005482-21vfs4r4m3fvnahvl6os847mbl2e65hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604489005482-21vfs4r4m3fvnahvl6os847mbl2e65hv</string>
	<key>API_KEY</key>
	<string>AIzaSyAw4tp4-DKqtWlIr8uxHVPZzZEADTiApM4</string>
	<key>GCM_SENDER_ID</key>
	<string>604489005482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.react.realestate</string>
	<key>PROJECT_ID</key>
	<string>realestateeducation-cab19</string>
	<key>STORAGE_BUCKET</key>
	<string>realestateeducation-cab19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604489005482:ios:37d928ea6d2f737fdd53d3</string>
</dict>
</plist>